@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Nunito:ital,wght@0,200;1,200&family=Poppins:wght@400;500;600;700&family=Roboto+Condensed:wght@300&family=Source+Sans+Pro:wght@200&family=Titillium+Web:wght@300&family=Ubuntu:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  transition: all 0.3s ease;
  font-family: 'Poppins', sans-serif;
}
:root{
	--bg-primary: #ffffff;
	--bg-secondary: #e8ebed;
	--color-primary: #4c4e52;
	--color-secondary: #1a5dc9;
	--navbar-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)
	
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
  background-color: var(--bg-primary);
  color:var(--color-primary);
}

body[theme="dark"]{
  --bg-primary: #0f172a;
  --bg-secondary: #3d424d;
  --color-primary: #fcffff;
  --color-secondary: #43e0cb;
  --navbar-shadow: 0 2px 5px rgba(0, 254, 241, 0.67);
}

section{
	min-height: 100vh;
	width: 100vw;
	background: var(--bg-primary);
	padding: 10rem 9% 2rem;
}

.btn{
	padding: 1rem 2rem;
	font-size: 1.5rem;
	border-radius: 0.8rem;
	background-color: var(--color-secondary);
	color: var(--bg-primary);
	box-shadow: 0 0 2rem var(--color-secondary);
	transition: box-shadow .5s ease;
}
.btn:hover{
	box-shadow: none;
	 
}
/*Navbar starts*/
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 9%;
  background: var(--bg-primary);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
.navbar.sticky{
	box-shadow: var(--navbar-shadow);
}
.logo {
  text-align: center; 	
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-secondary);
  border: 3px solid var(--color-secondary);
  padding: .5rem;
  border-radius: 50%;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.nav-links a{
  font-size: 2rem;
  text-decoration: none;
  color: var(--color-primary);
  font-weight: 500;
  transition: color 0.3s;
}
.nav-links a.active{
	color: var(--color-secondary)
}
.nav-links a:hover {
  color: var(--color-secondary);
}
.nav-links button{
	text-align: center;
	align-items: center;
	font-size: 2rem;
	color: var(--color-primary);
	cursor: pointer;
	border: none;
	outline: none;
	background: transparent
}
.nav-links i:hover{
	color: var(--color-secondary)
}

/* Mobile menu button */
.menu-btn {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 100;
}

.menu-btn i{
  font-size: 2.5rem;
  color: var(--color-primary);
}


/*Home section starts*/
.home{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.home-content{
	max-width: 55rem;
}
.home-content h3{
	font-size:2rem;
}
.home-content h1{
	font-size: 3rem;
}
.home-content p{
	font-size: 1.5rem;
	margin-bottom: 2rem;
	text-align: justify;
}
.auto-type{
	color: var(--color-secondary);
}
.social-media{
	margin-bottom: 5rem;
}
.social-media a{
	font-size: 2.5rem;
	text-align: center;
	color: var(--color-primary);
	margin-right: 1rem;
	height: 4rem;
	width: 4rem;
	border: 2px solid var(--color-primary);
	border-radius: 50%;
	padding: .3rem;
}

.social-media a:hover{
	color: var(--bg-primary);
	border: 2px solid var(--color-secondary);
	background: var(--color-secondary);
	box-shadow: 0 0 1rem var(--color-secondary)
}
.home-img{
	border: 2px solid var(--color-secondary);
	height: 25rem;
	width: 25rem;
	border-radius: 50%;
	overflow: hidden;
}
.home-img img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	
}

/*About section starts here*/
.about{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}
.about-content{
	max-width: 55rem;
}
.heading{
    font-size: 4.5rem;
    text-align: center;
}
.heading span{
	color: var(--color-secondary);
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
}
.about-content h3{
   font-size: 2.6rem;
}
.about-content p{
    font-size: 1.6rem;
    margin-bottom: 4rem;	
}


/*Services section starts here*/
.services h2{
    margin-bottom: 5rem;
}
.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.services-container .services-box{
    flex: 1 1 25rem;
    background: var(--bg-secondary);
    padding: 3rem 2rem;
    border-radius: 2rem;
    text-align: center;
    transition: .5s ease;
    border: 0.1rem solid var(--bg-primary);	
}
.services-container .services-box:hover{
     border-color: var(--color-secondary);
     transform: scale(1.1);
}
.services-container .services-box i{
    font-size: 5rem;
    margin-bottom: 2rem;
    color: var(--color-secondary);
}
.services-container .services-box h3{
    font-size: 2.3rem;
}
.services-container .services-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

/*Projects section starts here*/
.project-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 2rem;
	margin-top: 10rem;
}
.project-box{
	overflow: hidden;
	margin-bottom: 2rem;
	border-radius: .8rem;
	box-shadow: var(--navbar-shadow)
}
.project-box img{
	width: 100%;
	height: 20rem;
}
.project-content{
	padding: 1rem;
}
.project-content h3{
	font-size: 2rem;
}
.project-content p{
	font-size: 1.5rem;
	text-align: justify;
	margin: 1rem 0;
}
.project-content ul{
	margin-bottom: 2rem;
}
.project-content ul li{
	font-size: 1.5rem;
	background: var(--color-primary);
	color: var(--bg-secondary);
	display: inline-flex;
	margin: 1rem .5rem;
	padding: .5rem 1rem;
	border-radius: 1rem;
}
.project-content a{
	font-size: 2rem;
	margin-right: 2rem;
	cursor: pointer;
}
.project-content a i{
	font-size: 3rem;
	margin-bottom: 2rem;
	padding-right: 1rem;
}

/*Contact section starts*/
.contact h2{
	margin-bottom: 2rem;
}
.form-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-information{
    padding: 5rem 1rem;
    margin-right: 2rem;
}
.contact-box{
	display: flex;
	padding-bottom: 3rem
}
.contact-icon{
	padding-right: 2rem;
}
.contact-icon i{
	font-size: 3rem;
    margin-bottom: 2rem;
    color: var(--color-secondary);
}
.contact-heading{
	margin-bottom: 1rem;
	font-size: 2rem;
}
.address-details{
	font-size: 1.5rem;
}
.address-details span{
	font-size: 2rem;
	font-weight: 700;
	color: var(--color-secondary);
	padding-right: 1rem;
	display: block;
}
.phone-number a, .email a{
	font-size: 1.5rem;
}

/**Form Design*/
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-primary) ;
    background: var(--bg-secondary);
    border-radius: 0.8rem;
    margin: .7rem 0;
    border: none;
    outline: none;
    resize: none;
    text-transform: none;
}
.contact form .input-box input{
    width: 49%;
}
.contact form .btn{
    margin-top: 2rem;
    border: none;
    cursor: pointer;
}

/*Footer section starts here*/
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-secondary);
}
.footer-text p{
    font-size: 1.6rem;
}
.footer-icon-top a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background: var(--color-secondary);
    border-radius: 0.8rem; 
}
.footer-icon-top a i{
    font-size: 2.4rem;
    color: var(--bg-primary);
}
.footer-icon-top a:hover{
    box-shadow: 0 0 1rem var(--color-secondary);
}



/* Responsive area starts*/
@media (max-width: 768px) {
	html{
		font-size: 55%
	}
   .nav-links{
    position: absolute;
    top: 0;
    right: -100%;
    flex-direction: column;
    background: var(--bg-primary);
    width: 20rem;
	height: 100vh;
    text-align: left;
	padding-top: 2rem;
	padding-left: 1rem;
    box-shadow: var(--navbar-shadow);
    transition: right 0.3s ease;
	z-index: -100;
  }
  .nav-links button{
	  text-align: left;
  }

  .nav-links.active {
    right: 0;
  }
  
  .menu-btn {
    display: flex;
  }
  
 
  /*Home section starts*/
	.home{
	  flex-direction: column;
	}
	.home .home-img{
		margin-top: 10rem;
	}
	
	/*About section starts*/
	.about{
	   flex-direction: column-reverse;
    }
	 
	
	/*Contact section starts*/
	.form-container{
    justify-content: flex-start;
    flex-direction: column;
	align-items: flex-start;
    }
	






}

@media (max-width: 600px){
	html{
		font-size: 50%
	}
	
}
















